# Python
__pycache__/
*.pyc
*.pyo

# Pytest
.pytest_cache/
/test-results/
/playwright-report/

# VS Code
.vscode/

# Virtual Environment
env/
env*/
venv/
.venv/

# Environment variables
.env


tests/test_api.py